body {
  font-family: Arial, sans-serif;
  background-color: darkblue;
  margin: 0;
  padding: 20px; 
  color: lightblue; 
}

header {
  background-color: #003366;
  color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  color: red;
  margin-bottom: 30px;
}

.button {
  margin-top: 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
